<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int-file="http://www.springframework.org/schema/integration/file"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
	xsi:schemaLocation="http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-4.1.xsd
		http://www.springframework.org/schema/integration/file http://www.springframework.org/schema/integration/file/spring-integration-file-4.1.xsd
		http://www.springframework.org/schema/integration/stream http://www.springframework.org/schema/integration/stream/spring-integration-stream-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<int-file:inbound-channel-adapter id="producer-file-adapter"
		channel="inboundChannel" directory="file:d://integration//inbound"
		prevent-duplicates="true">
		<int:poller fixed-rate="5000" />
	</int-file:inbound-channel-adapter>

	<int:channel id="inboundChannel" />

	<!-- a direct channel -->
	<int:channel id="outboundChannel" />

	<!-- Adapter for writing files -->
	<int-file:outbound-channel-adapter
		channel="outboundChannel" 
		id="consumer-file-adapter" 
		directory="file:d://integration//outbound" />

	<int:poller id="defaultPoller" default="true"
		max-messages-per-poll="5" fixed-rate="200" />
		
		
	<!-- /////////////////// -->

	<int:channel id="canalDescartados"/>
	<int-file:outbound-channel-adapter id="consumidor-descartados" 
	                                   directory="file:d://integration//descartados" 
	                                   channel="canalDescartados"/>

	<bean id="selector" class="com.curso.integration.FiltroMensajes" />
	
	<int:filter input-channel="inboundChannel" 
	            output-channel="outboundChannel"
		        discard-channel="canalDescartados"
		        ref="selector" />
		
		
		
		


</beans>
