<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>datatable</title>
	<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
	<script src="js/table.js"></script>
<link rel="stylesheet" type="text/css" href="pro_dropdown_3/pro_dropdown_3.css" />
</head>
<body>
	<h1>Hola mundo que tal?</h1>
    <p>Saludos</p>
</body>
</html>